.edit-todo {
  // display: none;
  &__overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #80808054;
    z-index: 100000;
  }

  &__content {
    overflow: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 75%;
    background-color: $bg-color-dark;
    border-radius: 5px;
    box-shadow: 0px 0px 50px 7px rgba(0, 0, 0, 0.37);

    .edit-icon {
      position: absolute;
      top: -50px;
      left: -50px;
      z-index: -1;
      svg {
        stroke-width: 2px;
        color: grey;
        opacity: 0.07;
        width: 150px;
        height: 150px;
      }
    }

    .top-bar {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      .push-right {
        width: 345px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;

        button {
          margin-left: 10px;
          height: 30px;
          font-size: 16px;
          border: none;

          &.is-loading::after {
            border-right-color: transparent !important;
            border-top-color: transparent !important;
          }

          svg {
            width: 16px;
            height: 16px;
            margin-right: 4px;
          }

          &.is-loading.delete-todo::after {
            border: 2px solid $cta-color !important;
            border-right-color: transparent !important;
            border-top-color: transparent !important;
          }

          &.is-loading.archive-todo::after {
            border: 2px solid rgb(109, 172, 203) !important;
            border-right-color: transparent !important;
            border-top-color: transparent !important;
          }

          &.archive-todo {
            background-color: rgba(109, 172, 203, 0.082);
            color: rgb(109, 172, 203);
            svg {
              color: rgb(109, 172, 203);
            }
            &:hover {
              background-color: rgba(109, 172, 203, 0.1);
            }
          }

          &.delete-todo {
            background-color: #fd554f10;
            color: $cta-color;
            svg {
              color: $cta-color;
            }

            &:hover {
              background-color: #fd554f20;
            }
          }
        }
      }
      .close-button {
        padding: 15px;
        svg {
          cursor: pointer;
          color: grey;
          width: 30px;
          height: 30px;
          display: block;
          transition: color 0.2s ease-in-out;

          &:hover {
            color: $cta-color;
          }
        }
      }

      .title {
        font-size: 17px;
        font-family: "Poppins", monospace;
        font-weight: bold;
        color: grey;
        margin-left: 10px;
        margin-bottom: 0px;
        margin-left: 18px;
      }
    }

    .content {
      .task {
        margin-top: 25px;
        width: 80%;
        height: auto;
        margin-left: auto;
        margin-right: auto;

        input {
          width: 100%;
          background-color: $bg-color-dark;
          color: white;
          font-family: "Poppins", monospace;
          font-weight: 700;
          font-size: 30px;
          box-shadow: none;
          border: none;
          border-radius: 5px;
          padding: 6px;
          outline: none !important;

          &:focus {
            outline: none !important;
            background-color: $bg-color-light;
          }
        }
      }

      .options {
        width: 78%;
        margin-left: 10%;
        margin-top: 30px;

        .option {
          .title {
            font-size: 18px !important;
            color: grey !important;
            margin-bottom: 0px !important;

            svg {
              width: 17px;
              height: 17px;
              margin-right: 5px;
              margin-bottom: -1px;
            }
          }

          .column {
            color: #686868;
            transition: background-color 0.2s ease-in-out;

            &:hover {
              background: $bg-color-light;
            }
          }

          &.deadline {
            .edit-indicator {
              width: 28px;
              height: 28px;
              display: inline-block;
              margin-left: 10px;
              transition: all 0.4s ease-in-out;
              svg {
                width: 16px;
                height: 16px;
              }

              &:hover {
                color: #808080;
              }
            }
          }

          &.tags {
            .tag {
              background-color: $bg-color-light;
              color: rgb(179, 179, 179);
              margin-bottom: 0px;
            }
          }

          &.notes {
            textarea {
              background-color: $bg-color-dark;
              border: none;
              box-shadow: none;
              height: 200px;
              width: 100%;
              font-size: 16px;
              color: #686868;

              &:focus {
                background-color: $bg-color-light;
                outline: none !important;
              }
            }
          }

          &.status {
            .status-preset {
              svg {
                width: 16px;
                height: 16px;
                stroke-width: 3px;
                margin-bottom: -2px;
                margin-right: 4px;
                opacity: 0.7;

                &.todo {
                  color: grey;
                }

                &.doing {
                  color: rgb(255, 188, 38);
                }

                &.done {
                  color: greenyellow;
                }
              }
            }

            .status-editor {
              .buttons {
                margin-top: -6px;
              }
              button {
                background: $bg-color-light;
                border: none;
                color: white;
                z-index: 10;
                font-size: 14px;
                margin-bottom: 0px;
                margin-right: 0px;
                transition: all 0.2s ease;

                &:hover {
                  background-color: #2e3133;
                }

                &.is-selected {
                  background: #5d5d5d;
                }

                svg {
                  width: 15px;
                  height: 15px;
                }

                &.todo {
                  svg {
                    color: grey;
                  }
                }

                &.doing {
                  svg {
                    color: rgb(255, 188, 38);
                  }
                }

                &.done {
                  svg {
                    color: greenyellow;
                  }
                }
              }
            }
          }
        }
      }
    }

    .edit-cta {
      width: 90%;
      display: flex;
      justify-content: flex-end;

      .save,
      .cancel {
        margin-left: 10px;
        border: 1px solid transparent;
        svg {
          margin-right: 4px;
        }
        background-color: $bg-color-light;
        color: white;
        transition: all 0.2s ease;

        &:hover {
          border: 1px solid #808080;
        }
      }

      .is-loading.save::after {
        border: 2px solid greenyellow !important;
        border-right-color: transparent !important;
        border-top-color: transparent !important;
      }

      .cancel {
        background-color: transparent;
      }

      .save svg {
        color: greenyellow;
      }

      .cancel svg {
        color: $cta-color;
      }
    }
  }
}
