@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Poppins:wght@400;500;700&display=swap");

$bg-color-dark: #212529;
$bg-color-light: #26292e;
$cta-color: #fd554f;

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow: auto !important;
  background-color: $bg-color-dark;
  color: white;
  font-family: "Open Sans", sans-serif !important;
}

.swal2-popup {
  background: $bg-color-light !important;
  box-shadow: none !important;
  border: 1px solid #3f3f3f;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-color: $cta-color;
  border-bottom-width: 2px;
  .swal2-title {
    color: #fff !important;
  }
  &__success {
    border-bottom-color: greenyellow !important;
  }
}

.dropdown-content {
  background-color: $bg-color-light !important;
  a {
    color: #fff !important;
    border-left: 0px solid $cta-color;
    transition: all 0.1s ease-in-out;
    &.dropdown-item:hover {
      background-color: $bg-color-dark;
      border-left: 2px solid $cta-color;
      svg {
        color: #fff;
        transition: all 0.1s ease-in-out;
      }
    }
    span {
      svg {
        width: 16px;
        margin-bottom: -7px;
        color: grey;
      }
      margin-right: 9px;
    }
  }
}

.button.is-loading::after {
  left: calc(50% - (1.3em / 2)) !important;
  top: calc(50% - (1.3em / 2)) !important;
  border: 4px solid #fff !important;
  width: 1.3em !important;
  height: 1.3em !important;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@mixin fadeInMixin($dir) {
  @if $dir == "left" {
    opacity: 0;
    animation-name: fadeInLeft;
    animation-duration: 0.7s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
}

.fadeInLeft {
  @include fadeInMixin("left");
}

@mixin button-dark {
  background: $bg-color-light;
  color: white;
  box-shadow: 0px 7px 50px -30px rgba(255, 255, 255, 0);
  top: 0px;
  border: 1px solid transparent;
  transition: all 0.3s ease-in-out;
  &:hover {
    background: #4c5258;
    border: 1px solid grey;
    top: 2px;
  }
}

@mixin button {
  background: $cta-color;
  color: white;
  box-shadow: 0px 7px 50px -30px rgba(255, 255, 255, 0);
  top: 0px;
  border: 1px solid transparent;
  font-family: "Poppins", monospace;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: $cta-color;
    top: 2px;
    border: 1px solid white;
  }
}

@mixin no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/base/_all.sass";
@import "bulma/sass/components/_all.sass";
@import "bulma/sass/elements/_all.sass";
@import "bulma/sass/form/_all.sass";
@import "bulma/sass/grid/_all.sass";
@import "bulma/sass/layout/_all.sass";

@import "./navbar.scss";
@import "./forms.scss";
@import "./workspace.scss";
@import "./todos.scss";
