.todo-container {
  width: 90%;
  height: 100px;
  margin-left: auto;
  margin-right: auto;

  .todo-inputs {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    transition: all 0.3s ease-in-out;

    &:focus-within {
      z-index: 10000;
    }

    .select-status {
      button {
        height: 50px;
        overflow: hidden;
        width: 0px;
        border-radius: 0px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        padding: 0px;
        opacity: 0;
        background: $bg-color-light;
        color: white;
        border-width: 0px;
        transition: all 0.3s ease-in-out;

        .dropdown-trigger {
          font-family: "Poppins", monospace !important;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: center;
          align-items: center;
          align-content: center;

          div {
            margin-right: 4px;
            margin-left: 8px;
          }

          svg:first-child {
            width: 16px;
            height: 16px;
            color: grey;
            stroke-width: 3px;

            &.todo {
              color: grey;
            }

            &.doing {
              color: rgb(255, 188, 38);
            }

            &.done {
              color: greenyellow;
            }
          }

          svg:not(:first-child) {
            width: 18px;
            height: 18px;
            color: #4c5258;
          }
        }
      }

      .dropdown-menu {
        .dropdown-content {
          width: 120px;
        }
        .dropdown-item {
          font-family: "Poppins", monospace !important;
          svg {
            width: 16px;
            height: 16px;
            margin-right: 7px;
            margin-bottom: -3px;
            stroke-width: 2px;
          }
          &.todo {
            svg {
              color: grey;
              stroke-width: 4px;
            }
            border-left: 0px solid grey;
            &:hover {
              border-left: 2px solid grey;
            }
          }
          &.doing {
            svg {
              color: rgb(255, 188, 38);
            }
            border-left: 0px solid rgb(255, 188, 38);
            &:hover {
              border-left: 2px solid rgb(255, 188, 38);
            }
          }
          &.done {
            svg {
              color: greenyellow;
            }
            border-left: 0px solid greenyellow;
            &:hover {
              border-left: 2px solid greenyellow;
            }
          }
        }
      }
    }

    .todo-input {
      width: 100%;
      span {
        input {
          flex: 2;
          width: 100%;
          background-color: $bg-color-light;
          height: 50px;
          color: white;
          font-size: 20px;
          border: none;
          box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0);
          font-family: "Poppins", monospace;
          border-top-left-radius: 0px;
          border-bottom-left-radius: 0px;
          outline: none;
          padding-left: 7px;

          &::placeholder {
            color: #4c5258;
          }
        }
      }
    }
  }
  .todo-buttons {
    z-index: -1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    transition: all 0.3s ease-in-out;

    div {
      height: 40px;
      margin-left: 20px;
      background-color: $bg-color-light;
      color: grey;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 8px;
      font-family: "Poppins", monospace;
      cursor: pointer;

      &.todo-buttons__add-todo {
        svg {
          margin-bottom: -4px;
          width: 18px;
          height: 18px;
          margin-left: 4px;
          stroke-width: 4px;
        }

        font-weight: bold;
        transition: all 0.2s ease-in-out;

        &:hover {
          background-color: rgb(182, 251, 79);
          color: white;
        }
      }
    }

    &__deadline {
      svg {
        width: 20px;
        height: 20px;
        stroke-width: 2px;
        margin-bottom: -4px;
        margin-right: 7px;
      }
      transition: all 0.2s ease-in-out;
      font-weight: 900;

      &:hover {
        background-color: rgb(255, 71, 65);
        color: white;
      }
    }
  }

  .projects-accumulator {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    align-content: center;

    .project-badge {
      margin-bottom: 4px;
      padding-left: 6px;
      padding-right: 6px;
      font-size: 14px;
      border-radius: 3px;
      margin-left: 5px;
    }
  }
}

.calender-select {
  width: 350px;
  margin-left: auto;
  z-index: 100;
  position: absolute;
  right: 100px;

  &.upcoming-calender {
    right: 200px;
    margin-top: 10px;
  }

  .react-calendar {
    width: 100%;
    display: block;
    border-radius: 3px;
    border: 0px;
    background-color: $bg-color-light;
    button {
      color: white;

      &:disabled {
        background: #34373d;
        text-decoration: line-through;
        color: #ffffffa0;
        //opacity: 0.5;
      }

      &:hover {
        background-color: #4c5258 !important;
      }

      &.react-calendar__tile--now {
        background-color: $cta-color;
      }
    }

    &__navigation {
      background-color: $bg-color-light;
      button {
        color: white;

        &:hover {
          background-color: #4c5258 !important;
        }
      }
    }

    &__viewContainer {
      background-color: $bg-color-light;
    }

    &__month-view__weekdays__weekday {
      color: #4c5258;
    }

    &__navigation button:enabled:focus {
      background-color: #4c5258;
    }

    &__month-view__days__day--neighboringMonth {
      opacity: 0.4;
    }
  }
}

.react-calendar__month-view__days__day--weekend {
  color: $cta-color !important;
  &:disabled {
    color: #fd554fa0 !important;
  }

  &.react-calendar__tile--active {
    color: white !important;
  }
}

.react-calendar__tile--now {
  &.react-calendar__month-view__days__day--weekend {
    color: white !important;
  }
}

.todo-list-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  transition: background-color border-radius border-bottom 0.2s ease-in-out;
  &__todo {
    margin-bottom: 5px;
    padding: 15px;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    border-bottom: 1px solid rgba(223, 223, 223, 0.1);
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: $bg-color-light;
      border-radius: 5px;
      border-bottom: 1px solid rgba(223, 223, 223, 0);
    }

    svg {
      width: 22px;
      height: 22px;
      color: grey;
      stroke-width: 2px;
      margin-right: 10px;
      margin-top: 4px;
      cursor: pointer;

      &.delete {
        color: $cta-color;
      }

      &.todo {
        color: grey;
      }

      &.doing {
        color: rgb(255, 188, 38);
      }

      &.done {
        color: greenyellow;
      }
    }

    .loader {
      margin-right: 10px;
      width: 22px;
      height: 22px;
      margin-bottom: 5px;
      margin-top: 5px;
    }

    .todo-side-options {
      margin-left: auto;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      align-content: center;

      .unarchive-todo {
        margin-right: 6px;
        button {
          background: $bg-color-light;
        }
      }

      .edit-todo-toggle {
        color: #525457;
        opacity: 0;
        transition: all 0.19s ease-in-out;
        cursor: pointer;

        &:hover {
          svg {
            color: #cccccc;
          }
        }

        svg {
          width: 20px;
          height: 20px;
        }
      }

      .deadline {
        color: #525457;
        transition: all 0.19s ease-in-out;
      }
    }

    &:hover {
      .deadline {
        color: #848586;
      }

      .edit-todo-toggle {
        opacity: 1;
      }

      .unarchive-todo {
        button {
          background: $bg-color-dark;
        }
      }
    }
  }
}

.react-autocomplete-input {
  background: $bg-color-light;
  border-radius: 3px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
  list-style: none !important;
  li {
    border-radius: 3px;
    padding: 5px;
    color: rgb(199, 199, 199);
    strong {
      color: $cta-color;
    }
    &:hover,
    &.active {
      background: #555555;
      color: white;
    }
  }
}
